@font-face {
	font-family: "PT Sans";
	font-style: normal;
	font-weight: 400;
	src:
		local("PT Sans"),
		url("../fonts/ptsans.woff") format("woff"),
		url("../fonts/ptsans.woff2") format("woff2"); 
}

@font-face {
	font-family: "PT Sans";
	font-style: normal;
	font-weight: 700;
	src:
		local("PT Sans Narrow"),
		url("../fonts/ptsansbold.woff") format("woff"),
		url("../fonts/ptsansbold.woff2") format("woff2"); 
}

body {
	padding: 0;
	margin: 0;
	width: 768px;

	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 14px;
	line-height: 21px;
	font-weight: 700;
	color: #000000;
	text-transform: uppercase;

	background-color: #ffffff;	
}

a {
	text-decoration: none;
}

button[type="button"] {
	font: inherit;

	text-align: center;
	vertical-align: middle;
	text-transform: uppercase;

	border: none;
}

.main-menu {
	line-height: 26px;
	color: #000000;

	background-color: #ffffff;
}

.site-navigation li {
	list-style: none;
}

.site-navigation a {
	color: #000000;
}

.site-navigation a:hover {
	color: #81b3d2;
}

.site-navigation a:active {
	color: #766357;
}

.site-navigation a:focus {
	color: #b2b2b2;
}

.sedona-text,
.reasons,
.appointment-text {
	text-align: center;
}

.sedona-text {
	font-size: 21px;
	line-height: 26px;
}

.reasons {
	font-size: 14px;
	line-height: 26px;
}

ul.features-list,
ul.main-features,
ul.main-features-list,
ul.main-features-list2 {
	list-style: none;
}

.main-features-text,
.feature-item-text,
.reasons,
.dash {
	font-weight: normal;
	text-align: center;
}

.city-features,
p.lodging,
p.meal,
p.souvenirs,
.place,
.road,
.tourists {
	font-size: 21px;
	line-height: 21px;
	text-align: center;
}

.appointment-text {
	font-size: 30px;
	line-height: 24px;
	margin: 0;
}

span.appointment-info {
	font-size: 14px;
	line-height: 24px;
	font-weight: normal;
	display: inline-block;
}

span.appointment-info:first-child {
	margin-top: 38px;
}

.button-search-hotels {
	display: block;
	font-size: 21px;
	line-height: 26px;
	color:  #ffffff;
	background-color: #766357;
	width: 568px;
	height: 86px;
	padding: 34px 140px 32px 140px;
	white-space: nowrap;
	box-sizing: border-box;
	margin: 0 100px;
}

.button-search-hotels:hover {
	color:  #ffffff;
	background-color: #604e43;
}

.button-search-hotels:focus {
	color: #857871;
	background-color: : #503e33;
}

.search input {
	line-height: 26px;
	height: 38px;
}

.search input[type="text"],
.search input[type="number"] {
	font: inherit;
	color: #000000;
	text-transform: uppercase;

	background-color: #f2f2f2;
	border: none;
}

.search input[type="text"] {
	width: 348px;
}

.search input[type="number"] {
	width: 116px;
}

.search input[type="text"] {
	cursor: pointer;
}

.search input[type="text"]:hover {
	background-color: #ebebeb;
}

.search input[type="text"]:focus {
	background-color: #ffffff;
	border: 2px solid #e5e5e5;
}

.button-calendar {
	color: #b2b2b2;
	cursor: pointer;
}

.button-calendar:hover {
	color: #000000;
}

.button-calendar:focus {
	color: #81b3d2;
}

.symbol {
	color: #b2b2b2;
	cursor: pointer;
}

.symbol:hover {
	color: #000000;
} 

.symbol:focus {
	color: #81b3d2;
}

.search button[type="submit"] {
	font: inherit;
	font-size: 21px;
	line-height: 26px;
	color:  #ffffff;
	background-color: #81b3d2;
	text-align: center;
	text-transform: uppercase;
	border: none;
	cursor: pointer;
	height: 60px;
}

.search button[type="submit"]:hover {
	color:  #ffffff;
	background-color: #669ec0;
}

.search button[type="submit"]:focus {
	color:  #7eb0cd;
	background-color: #5496bd;
}

p.instagram {
	font-size: 21px;
	line-height: 26px;
}

.footer-copyright span {
	font-weight: normal;
}

ul.footer-social {
	list-style: none;
	margin: 0;
	padding: 0;
}

.footer-social a {
	text-align: center;
	color: #000000;
}

.footer-copyright a {
	color: #000000;
}

.footer-copyright a:hover {
	color: #81b3d2;
}

.footer-copyright a:focus {
	color: #b2b2b2;
}

/* внутренняя страница*/


.main-filter {
	background-image: url("../img/sedona-inner.jpg");
	background-position: top center;
	background-repeat: no-repeat;
	background-size: cover;
}

.filter-wrapper {
	font-size: 16px;
	line-height: 21px;
	color: #ffffff;
}

.filter ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.filter li {
	color: #ffffff;
	font-weight: normal;
}

.filter-label {
	font-size: 14px;
	line-height: 21px;
}

.filter input[type="text"] {
	color:  #ffffff;
	text-transform: uppercase;
	text-align: center;

	background-color: transparent;
	border: none;
	width: 107px;
	height: 32px;
}

.cost {
	border: solid 2px #ffffff;
	display: flex;
	margin-bottom: 10px;
}

.range-view {
	margin-bottom: 22px;
}

.filter input[type="checkbox"] {
	color: #ffffff;
	cursor: pointer;
}

.filter input[type="checkbox"]:checked:hover {
	color: #ffffff;
}

.filter input[type="checkbox"]:checked:disabled {
	color: #6a6a6a;
}

.filter input[type="checkbox"]:hover {
	color: #ffffff;
}

.filter input[type="checkbox"]:disabled {
	color: #6a6a6a;
}

.filter input[type="range"] {
	cursor: pointer;
}

.filter .button-show {
	font: inherit;
	font-weight: normal;
	text-transform: uppercase;
	color:  #ffffff;
	border: solid 2px #ffffff;
	height: 32px;
	width: 132px;
	align-self: center;

	background-color: transparent;
	cursor: pointer;
}

.filter .show:hover {
	color: #000000;
	background-color: #ffffff;
}

.sorting .found {
	font-size: 21px;
	line-height: 26px;
}

.sorting-type-item {
	font-size: 12px;
	line-height: 18px;
}

.sorting-type-item:not(:first-child) {
	border-bottom: 1px dashed #81b3d2;
}

.sorting-type-item:first-child {
	margin-right: 35px;
} 

.sorting-type-item:nth-child(2) {
	margin-right: 32px;
}

.sorting-type {
	font-size: 12px;
	line-height: 18px;
	font-weight: normal;
	margin: 0 42px 0 50px;
}

.hotels-type .description {
	font-weight: normal;
}

.sorting-type-list {
	font-weight: normal;
	padding: 0;
	margin: 0;
	display: flex;
	align-items: center;
}

.sorting-type-list li {
	list-style: none;
}

.sorting-type-item a {
	color: #b2b2b2;
}

.sorting-type-item a:hover {
	color: #81b3d2;
}

.sorting-type-item a:focus {
	color: #000000;
} 

.sorting-type-item:first-child a:active,
.sorting-type-item:first-child a:link {
	color: #81b3d2;
}

.button-switch {
	color: #b2b2b2;
	cursor: pointer;
	height: 20px;
	align-self: center;
}

.button-switch:hover {
	color: #000000;
}

.button-switch:focus {
	color: #81b3d2;
}

.button-switch:active {
	color: #81b3d2;
}

.icon-down {
	color: #81b3d2;
}

.description.rating {
	height: 28px;
	width: 110px;
	background-color: #f2f2f2;
	text-align: center;
	vertical-align: middle;
	padding-top: 4px;
	box-sizing: border-box;
}

.rating {
	margin-left: auto;
}

.star {
	margin-left: auto;
}

.hotels-type .button-blue {
	color: #ffffff;
	background-color: #81b3d2;
}

.hotels-type .button-blue:hover{
	color:  #ffffff;
	background-color: #669ec0;
} 

.hotels-type .button-blue:focus {
	color:  #7eb0cd;
	background-color: #5496bd;
}

.hotels-type .button-brown {
	color: #ffffff;
	background-color: #766357;
}

.hotels-type .button-brown:hover {
	color:  #ffffff;
	background-color: #604e43;
}	

.hotels-type .button-brown:focus {
	color: #857871;
	background-color: : #503e33;
}

a.hotels-type-link {
	color: #000000;
}

a.hotels-type-link:hover {
	color: #81b3d2;
}

a.hotels-type-link:focus {
	color: #b2b2b2;
}

/*сетки*/

.main-header {
	display: flex;
	position: relative;
}

.main-header-logo {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
}

.main-menu {
	width: 100%;
}

.site-navigation {
	display: flex;
	align-items: center;
	margin: 0;
	padding: 0 46px;
	height: 56px;
}

.site-navigation li:nth-child(1) {
	margin-right: 60px;
}

.site-navigation li:nth-child(2) {
	margin-right: auto;
}

.site-navigation li:nth-child(4) {
	margin-left: 74px;
}

.main-photo-image {
	display: flex;
}

.index-column {
	display: block;
	min-height: 212px;
	padding: 60px 138px 56px 138px;
	box-sizing: border-box;
	background-color: yellow;
}

.features-list {
	margin: 0;
	padding: 0;
}

.feature-item {
	display: flex;
}

.feature-item-blue {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 256px;
	color:  #ffffff;
	padding: 0 38px;
	box-sizing: border-box;

	background-color: #81b3d2;
}

.city-photo,
.bridge-photo {
	display: flex;
}

.main-features-list {
	margin: 0;
	padding: 164px 44px 66px 50px;
	display: flex;
	justify-content: space-between;
	box-sizing: border-box;
	background-color: grey;
}

.main-features-item {
	width: 166px;
}

.main-features-list2 {
	margin: 0;
	padding: 0;
	display: flex;
	background-color: #eeeeee;
	justify-content: space-around;
	background-color: orange;
}

.main-features {
	display: flex;
	flex-direction: column;
	width: 158px;
	margin-top: 30px;
	margin-bottom: 20px;
}

.appointment-column {
	display: block;
	min-height: 292px;
	padding: 56px 166px 52px 162px;
	box-sizing: border-box;
}

form.search {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	width: 568px;
	height: 396px;
	box-sizing: border-box;
	margin: 0 100px 0 100px;
	padding: 56px;
	box-sizing: border-box;
	background-color: lightyellow;
}

.search-wrapper {
	background-image: url("../img/map.jpg");
	background-repeat: no-repeat;
	background-position: center bottom;
	padding-bottom: 70px;
}

.main-footer {
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 120px;
	background-color: grey;
}

.footer-social {
	display: flex;
	justify-content: space-around;
}

.main-filter {
	height: 218px;
}

.filter {
	display: flex;
	padding: 32px 44px;
	justify-content: space-between;
	height: 100%;
	box-sizing: border-box;
}

 .filter-wrapper {
 	display: flex;
	flex-direction: column;
 } 

.filter-list {
	display: flex;
	flex-direction: column;
	margin-top: 16px;
}

.filter-caption {
	margin-top: 0;
}

.filter-list-item:not(:last-child) {
	margin-bottom: 12px;
}

.filter-list-item {
	display: flex;
	align-items: center;
	height: 24px;
}

.filter-wrapper:not(:last-child) .filter-caption {
	margin-bottom: 28px;
}

.filter-wrapper:last-child .filter-caption {
	margin-bottom: 12px;
}

.sorting-wrapper {
	display: flex;	
	padding: 0 46px;
	align-items: center;
	border-bottom: 1px solid #e5e5e5;
}

.button-wrapper {
	display: flex;
	justify-content: center;
	margin-left: auto;
	height: 88px;
}

.hotels-type {
	display: flex;
	flex-direction: column;
	padding: 0 46px;
	border-bottom: 1px solid #e5e5e5;
}

.hotels-type-column1 {
	display: flex;
}

.hotels-type-column2 {
	display: flex;
}

.hotels-type-column3 {
	display: flex;
}

